{
  "origem": "",
  "destino": "",
  "limite_consultas": 2,
  "appium": {
    "server": "http://127.0.0.1:4723",
    "99": {
      "active": true,
      "app_package": "com.taxis99",
      "capturar_metricas": false
    },
    "uber": {
      "active": true,
      "app_package": "com.ubercab",
      "capturar_metricas": true
    }
  },
  "persistencia": {
    "tipo": "banco",
    "caminho": "mobilidade.db"
  },
  "openweather": {
    "lat": -23.5505,
    "lon": -46.6333
  },
  "logging": {
    "level": "INFO"
  }
}
